*{
    margin: 0;
    padding: 0;
}


body{
    
    color: white;
    background-color: rgb(11, 31, 68);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: relative;
    text-align: center;
    width: 1400px;
    height: 140px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(251, 251, 252);
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.imagem{
    width: 145px;
    padding-right: 90%;
    margin-top: -7%;
}


h1{
 font-size: 5em;
}

form {
 width: 700px;
 height: 100%;
}

#button {
    background-color: white;
    font-weight: 600;
    color: rgb(11, 31, 68);
    padding: 0.2em 3em;
    border-radius: 7px;
    transition: 0.3s;
}

#button:hover {
    background-color: whitesmoke;
    color: rgb(17, 33, 63);
    cursor: pointer;
    margin-top: 100px;
    margin-left: 11.8%;

}



@media screen and (max-width: 600px) {
    .container-principal {
        flex-direction: column;
    }

    .content-user, .content-img {
        width: auto;
        height: auto;
    }


}